.installment {
    border: 1px solid var(--dark-blue-500);
    border-radius: 8px;
    padding: 16px;
    display: table;
    box-shadow: 6px 6px var(--dark-blue-500);
}

.installment span:nth-child(odd) {
    float: left;
    clear: left;
}

.installment span:nth-child(even) {
    float: right;
}

