.results, .result-list {
    display: flex;
    gap: 32px;
}

.results {
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 16px;
    border: 1px solid var(--dark-blue-500);
    box-shadow: 6px 6px var(--dark-blue-500);
    border-radius: 8px;
}

.result-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;   
}

.item {
    min-width: fit-content;
}

.item span {
    border-bottom: solid 1px var(--dark-blue-600);
}

.descricao {
    height: 180px;
    overflow: auto;
}

.container {
    min-width: 240px;
    padding: 2.25rem;
}

.container h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    .result-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;   
    }
    
}

@media only screen and (max-width: 425px) {
    .result-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 32px;   
    }
}