.container {
    padding: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-100);
}

.content {
    background-color: var(--white);
    width: 500px;
    min-width: 240px;
    max-width: 700px;
    padding: 32px;
    border-radius: 8px;
}

/* Header */

.header {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
}

.header img {
    height: 60px;
    object-fit: contain;
    object-position: left;
    margin-top: 24px;
    margin-bottom: 24px;
}

form.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}